<!DOCTYPE html>
<html>
  <head>
    <title>Atelierruby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/nav" %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
 
  
  <%= render "layouts/footer" %>
  <p><i style="font-size:8px">made by <a href="https://gabrielrouleau.fr/">Gabriel ROULEAU</a></i></p>
  </body>
</html>
